[<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    '<h1>Post List!</h1>'
    '<div>'
        '<p>published: 12.11.2019, 14:38</p>'
        '<h2><a href="">My First post</a></h2>'
        '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium adipisci aliquam, aliquid cumque dolore ea incidunt non repudiandae tempora? Blanditiis dolor expedita itaque. Aut molestiae quae quaerat recusandae rem.</p>'
        '</div>'
    '<div>'
        '<p>published: 12.11.2019, 14:38</p>'
        '<h2><a href="">My Second post</a></h2>'
        '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo facilis id ipsum nihil? Accusantium ad, commodi consequatur excepturi harum illum impedit magnam nostrum officia perferendis quo, sint soluta totam vitae.</p>'
        '</div>'
</body>
</html>